.about_us {
    position: relative;
    gap: 80px;
    color: $primary;

    p {
        color: $secondary;
        max-width: 479px;
    }

    .part {
        max-width: 552px;

        span {
            font-size: 20px;
            line-height: 27px;
            color: $for_header;
        }

        .btn {
            padding: 16px 32px;
            max-width: 169px;
        }
    }

    .room::after {
        content: url(../../images/room_part_1.png);
        max-width: 240px;
        max-height: 160px;
        position: absolute;
        bottom: 85px;
        margin-left: -215px;
    }
    
    .description {
        max-width: 230px;
        margin-top: 20px;
        
        img {
            max-width: 56px;
        }
    }
}