*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  width: 100%;
}

.df_sb {
  display: flex;
  justify-content: space-between;
}

.df_c_sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.df_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.df_c_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aling_i_center {
  align-items: center;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.3;
}

.btn {
  background: #19BCE4;
  border-radius: 6px;
  color: $white;
}

.btn:hover {
  opacity: 0.3;
}

body {
  font-family: 'Rubik';
  color: $primary;
}

.fs20_lh27 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.fs20_lh24 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.fs14_lh17 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

button {
  cursor: pointer;
}

button:hover {
  text-transform: uppercase;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}