._who_choose_us {
    background: $blue;
    margin-bottom: 120px;

    p {
        font-size: 18px;
        line-height: 30px;
        color: $secondary;
        max-width: 596px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        max-width: 190px;
        padding: 16px 32px;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 40px;


        img {
            max-width: 24px;
        }
    }

    picture {
        max-width: 673px;
        margin-right: -135px;
    }
}