footer {
    .info {
        color: $secondary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .logo {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 18px;
            line-height: 21px;
            color: $for_header;

            img {
                max-width: 40px;
            }
        }

        p {
            max-width: 329px;
        }

        .icons {
            display: flex;
            gap: 17px;
        }

        .icon {
            color: #19BCE4;
        }
    }

    .ul {
        display: flex;
        flex-direction: column;
        align-content: flex-start;

        h5 {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $primary;
            margin: 0;
        }

        ul {
            padding: 0;

            
            
            a {
                font-size: 18px;
                line-height: 27px;
                color: $secondary;

                img {
                    max-width: 16px;
                }
            }

            li {
                list-style: none;
            }
        }
    }
}