<div class="_most_popular_places container p_120">

    <h2>Most Popular Places</h2>

    <p class="fs20_lh27">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    <div class="imgs">
        <div class="df_center bangladesh">
            <div class="text">
                <h3>Bangladesh</h3>

                <span>50 Properties</span>
            </div>

            <img src="../../images/rectangle2186.png" alt="Bangladesh">
        </div>

        <div class="df_center japan">
            <div class="text">
                <h3>Japan</h3>

                <span>50 Properties</span>
            </div>

            <img src="../../images/rectangle2187.png" alt="Japan">
        </div>

        <div class="df_center london">
            <div class="text">
                <h3>London</h3>

                <span>50 Properties</span>
            </div>

            <img src="../../images/rectangle2189.png" alt="London">
        </div>

        <div class="df_center malaysia">
            <div class="text">
                <h3>Malaysia</h3>

                <span>50 Properties</span>
            </div>

            <img src="../../images/rectangle2188.png" alt="">
        </div>

        <div class="df_center india">
            <div class="text">
                <h3>India</h3>

                <span>50 Properties</span>
            </div>

            <img src="../../images/rectangle2190.png" alt="India">
        </div>
    </div>
</div>