<div class="_what_people_say">
    <div class="container">
        <div class="df_center">

            <h2>What People Say</h2>

            <p>Lorem ipsum dolor sit amet, consectetur </p>

            <div class="reviews">
                <div class="review">

                    <pictute>
                        <img src="" alt="">
                        <span></span>
                        <img src="" alt="">
                    </pictute>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi
                        dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit
                        tortor proin risus amet habitant.
                    </p>
                </div>

                <div class="review">
                    <pictute>
                        <img src="" alt="">
                        <span></span>
                        <img src="" alt="">
                    </pictute>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi
                        dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit
                        tortor proin risus amet habitant.
                    </p>
                </div>

                <div class="review">

                    <pictute>
                        <img src="" alt="">
                        <span></span>
                        <img src="" alt="">
                    </pictute>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi
                        dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit
                        tortor proin risus amet habitant.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>