<div class="_what_people_say">
    <div class="container">
        <div class="df_center">

            <h2>What People Say</h2>

            <p>Lorem ipsum dolor sit amet, consectetur </p>

            <div class="reviews df_sb">
                <div class="review df_c_sb">

                    <div class="df_c_sb">
                        <img class="ava" src="../../images/ellipse1131.png" alt="ava">

                        <span>Williamsons</span>

                        <img class="stars" src="../../images/stars.png" alt="stars">
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi
                        dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit
                        tortor proin risus amet habitant.
                    </p>
                </div>

                <div class="review df_c_sb">
                    <div class="df_c_sb">
                        <img class="ava" src="../../images/ellipse1132.png" alt="ava">

                        <span>Farhad Reja</span>

                        <img class="stars" src="../../images/stars_.png" alt="stars">
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi
                        dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit
                        tortor proin risus amet habitant.
                    </p>
                </div>

                <div class="review df_c_sb">

                    <div class="df_c_sb">
                        <img class="ava" src="../../images/ellipse1133.png" alt="ava">

                        <span>Peter sams</span>

                        <img class="stars" src="../../images/stars_1.png" alt="stars">
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui posuere nulla id feugiat morbi
                        dictum. Nec enim mauris velit integer. Vitae varius interdum enim eget elementum. Eu velit
                        tortor proin risus amet habitant.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>