<div class="_what_are_you_looking_for container">

    <h2>What are you looking for?</h2>

    <div class="df_sb">

        <picture>
            <img src="../../images/rectangle2181.png" alt="house">
        </picture>

        <div class="objects">

            <div class="object">

                <picture>
                    <img src="../../images/house.png" alt="house">
                </picture>

                <div class="description">

                    <h3>Family House</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum
                        euismod risus
                    </p>
                </div>
            </div>

            <div class="object">

                <picture>
                    <img src="../../images/house_.png" alt="house">
                </picture>

                <div class="description">

                    <h3>Apartment</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum
                        euismod risus
                    </p>
                </div>
            </div>

            <div class="object">

                <picture>
                    <img src="../../images/studio-mixer.png" alt="studio-mixer">
                </picture>

                <div class="description">

                    <h3>Studio & Offices</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum
                        euismod risus
                    </p>
                </div>
            </div>

            <div class="object">

                <picture>
                    <img src="../../images/house_1.png" alt="house">
                </picture>

                <div class="description">

                    <h3>Villa & Condo</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor pulvinar at augue vestibulum
                        euismod risus
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>