<div class="_who_choose_us">

    <div class="container df_sb">
        <div class="info_text">
            <h2>Who Choose Us?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio laoreet sit neque sagittis. Gravida viverra
                at
                auctor sed aliquam. Sed magna eros lectus amet, viverra. Ultrices diam, volutpat sit ut feugiat semper
                interdum dapibus. Et malesuada tempus lacus at ornare gravida ornare nulla dui. Velit tellus elit
                consectetur dui vel convallis eu in lectus. Vitae id est, suspendisse suspendisse.
            </p>

            <a class="btn" href="#">Read more
                <img src="../../images/right.png" alt="right">
            </a>
        </div>
        <picture>
            <img src="../../images/istockphoto-1033381730-612x612-removebg-preview.png" alt="">
        </picture>
    </div>
</div>