<footer class="container df_sb">
    <div class="info">
        <a class="logo" href="#"><img src="../../images/logo.png" alt="logo">Building</a>
        <p>Lorem ipsum dolor sit amet, consectet adipiscing elit. Quam turpis sed ut fam tortor pharetra. Lorem auctor
            congue pellentesque facilisis diam
        </p>

        <div class="icons">
            <a class="icon" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a class="icon" href="#">
                <i class="fab fa-twitter"></i>
            </a>

            <a class="icon" href="#">
                <i class="fab fa-instagram"></i>
            </a>

            <a class="icon" href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    <div class="ul">
        <h5>Home</h5>
        <ul>
            <li>
                <a href="#">Process</a>
            </li>
            <li>
                <a href="#">Listing</a>
            </li>
            <li>
                <a href="#">Popular Property</a>
            </li>
            <li>
                <a href="#">Out Agents</a>
            </li>
            <li>
                <a href="#">Testimonial</a>
            </li>
        </ul>
    </div>

    <div class="ul">
        <h5>Servies</h5>
        <ul>
            <li>
                <a href="#">Site map</a>
            </li>
            <li>
                <a href="#">Property type</a>
            </li>
            <li>
                <a href="#">Terms and conditions</a>
            </li>
            <li>
                <a href="#">Privacy policy</a>
            </li>
        </ul>
    </div>

    <div class="ul">
        <h5>About</h5>
        <ul>
            <li>
                <a href="#">About us</a>
            </li>

            <li>
                <a href="#">Who choose us?</a>
            </li>

            <li>
                <a href="#">Events</a>
            </li>

            <li>
                <a href="#">Blog</a>
            </li>
        </ul>
    </div>

    <div class="ul">
        <h5>Contact</h5>
        <ul>
            <li>
                <a href="tel:+888561258">+888 561 258</a>
            </li>

            <li>
                <a href="webmaile@gmail.com">webmaile@gmail.com</a>
            </li>

            <li>
                <a href="#">Google play</a>
            </li>
        </ul>
    </div>

</footer>