<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>dream house</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Rubik:wght@400;500;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/index.min.css">
</head>

<body>
  {% include "templates/_base/_header.html" %}

  {% include "templates/_base/_banner.html" %}

  <main class="container">
    {% include "templates/_layouts/_about_us.html" %}

    {% include "templates/_layouts/_what_are_you_looking_for.html" %}

    {% include "templates/_layouts/_most_popular_places.html" %}
  </main>
  {% include "templates/_base/_footer.html" %}

  <script src="./js/index.min.js"></script>
</body>

</html>